# Maven
target

# TestNG
test-output
report

# Eclipse
.metadata
.settings
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Windows
RemoteSystemsTempFiles

# Mac
.DS_Store
/bin/

# otros
borrar
debug.log

# VS Code
.vscode/